@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
}

body{
    margin: 50px 0px 0px 50px ;
    align-items: center;
}